{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Country</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.country }}</td>
        </tr>

    {% empty %}
        <li>No objects yet.</li>
    {% endfor %}
    </tbody>
</table>

</body>
</html>